*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100%;
    background: #42455a;
}


.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style: none;
    margin: 0 2px;
    color: #b2b2b2;
    cursor: pointer;
}

.logo img{
    width: 3px;
    margin-top: -7px;
    margin-right: 48px;
}